<rule name="rule 1t" stopProcessing="true">
	<match url="^(.*)$"  />
	<action type="Rewrite" url="/https://%{HTTP_HOST}%{REQUEST_URI}"  />
</rule>
<rule name="rule 2t" stopProcessing="true">
	<match url="^(.+)$"  />
	<action type="Rewrite" url="/index.php?url={R:1}"  appendQueryString="true" />
</rule>
